---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
# AccessModifierOffset: 0
# AlignAfterOpenBracket: false
# AlignConsecutiveAssignments: false
# AlignConsecutiveDeclarations: false
# AlignEscapedNewlines: Left
# AlignOperands: true
# AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
# AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
# AllowShortFunctionsOnASingleLine: false
# AllowShortIfStatementsOnASingleLine: false
# AllowShortLoopsOnASingleLine: false
# AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
# AlwaysBreakTemplateDeclarations: false
# BinPackArguments: true
# BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Linux
# BreakBeforeInheritanceComma: false
# BreakBeforeTernaryOperators: true
# BreakConstructorInitializersBeforeComma: false
# ConstructorInitializerAllOnOneLineOrOnePerLine: true
# Cpp11BracedListStyle: false
# DerivePointerAlignment: false
# IndentCaseLabels: false
# IndentFunctionDeclarationAfterType: false
# IndentWrappedFunctionNames: false
# KeepEmptyLinesAtTheStartOfBlocks: false
# MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
# PointerBindsToType: true
SortIncludes: false
# SpaceAfterCStyleCast: false
# SpaceBeforeAssignmentOperators: true
# SpaceBeforeCpp11BracedList: false
# SpaceBeforeParens: ControlStatements
# SpaceBeforeRangeBasedForLoopColon: true
# SpaceBeforeSquareBrackets: false
# SpaceInEmptyParentheses: false
# SpacesBeforeTrailingComments: 1
# SpacesInAngles: false
# SpacesInCStyleCastParentheses: false
# SpacesInContainerLiterals: false
# SpacesInParentheses: false
# SpacesInSquareBrackets: false
# Standard: Cpp11